.container-2 {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.one-2 {
  width: 50%;
  float: left;
}

.two-2 {
  margin-left: 15%;
  height: 400px;
}

.short {
  height: 100px;
}

.medium {
  height: 200px;
}

.long {
  height: 400px;
}
.container-4 {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.one-4 {
  width: 20%;
  float: left;
}

.two-4 {
  width:20%;
  margin-left:5%;
  float:left;
}

.three-4 {
  width:20%;
  margin-left:5%;
  float:left;
}

.four-4 {
  width:20%;
  margin-left:5%;
  float:left;
}

ul.sideways {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.sideways {
  float: left;
}

li.sideways a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

