div.current {
  border-style: solid;
  border-color: blue;
}

div.show {
  vertical-align: top;
}

ul.sideways {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

li.sideways {
  float: left;
}

li.sideways a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.stack {
  position: absolute;
}

div.StrategyParent{
  border: #808080;
  border-style: groove;
}

div.StrategyChild{
  height: 60px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
